<!-- <h1 *ngIf="isCreatingItem">Register Product</h1>
<h1 *ngIf="!isCreatingItem">Edit Product</h1> -->

<form novalidate [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
  <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Produktnavn" formControlName="name">
  </mat-form-field><br>
  <div *ngIf='productForm.controls.name.touched && productForm.controls.name.errors?.required'> 
      Produktnavn skal udfyldes
  </div>

  <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Antal varer" formControlName="inStock">
  </mat-form-field><br>
  <div *ngIf='productForm.controls.inStock.touched && productForm.controls.inStock.errors?.required'> 
      Antal varer skal udfyldes
  </div>

  <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Pris" formControlName="price">
  </mat-form-field><br>
  <div *ngIf='productForm.controls.price.touched && productForm.controls.price.errors?.required'> 
      Pris skal udfyldes
  </div>

  <mat-form-field>
    <mat-label>Kategori</mat-label>
    <mat-select formControlName="category">
      <mat-option value="clothes">Tøj</mat-option>
      <mat-option value="shoes">Sko</mat-option>
      <mat-option value="beautyproducts">Skønhedsprodukter</mat-option>
      <mat-option value="homeappliances">Boliginteriør</mat-option>
    </mat-select>
  </mat-form-field><br>
  <div *ngIf='productForm.controls.category.touched && productForm.controls.category.errors?.required'> 
      Kategori skal udfyldes
  </div>

  <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Udløbsdato" formControlName="expirationDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>
  <!-- <div *ngIf='productForm.controls.expirationDate.touched && productForm.controls.expirationDate.errors?.required'> 
        Udløbsdato skal udfyldes
  </div> -->

  <mat-form-field class="example-full-width">
      <!-- <textarea matInput type="text" placeholder="Description" formControlName="description"> -->
          <textarea matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          
          placeholder="Produktbeskrivelse"
          formControlName="description"></textarea>
          <!-- cdkAutosizeMaxRows="5" -->
  </mat-form-field><br>
  <div *ngIf='productForm.controls.description.touched && productForm.controls.description.errors?.required'> 
      Beskrivelse skal udfyldes
  </div>

  <button mat-flat-button type="submit" color="primary">Registrer</button>
</form>