<h1>Produktliste</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Navn </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- In Stock Column -->
  <ng-container matColumnDef="inStock">
    <th mat-header-cell *matHeaderCellDef> Antal på lager </th>
    <td mat-cell *matCellDef="let element"> {{element.inStock}} </td>
  </ng-container>

  <!-- Is Active Column. TODO: Make isactive filter to change 1 and 0 to false/true??? -->
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef> Er aktiv </th>
    <td mat-cell *matCellDef="let element"> {{element.isActive | yesNoBooleanFilter}} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Kategori </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Price Column. change 1 and 0 to false/true??? -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Pris </th>
    <td mat-cell *matCellDef="let element"> {{element.price | customCurrencyFilter}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Funktioner </th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button type="button" style="background-color: rgb(0, 225, 255); margin-right: 5px" color="primary" (click)="viewProductVariations(element.id)">Detaljer</button>
      <button mat-flat-button type="button" style="background-color: red" color="primary" (click)="deleteProduct(element.id)">Slet</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- https://stackoverflow.com/questions/45318164/how-to-use-paginator-from-material-angular 02-05-2019 Pagination-->
<!-- https://material.angular.io/components/table/overview  02-05-2019 go to pagination -->
<mat-paginator [length]="dataSource.length"
              [pageSize]="25"
              [pageSizeOptions]="[10, 25, 50]">
</mat-paginator>

<div *ngIf="isProcessing">
  <mat-spinner></mat-spinner>
</div>