<h1 *ngIf="isCreatingCategory">Opret Kategori</h1>
<h1 *ngIf="!isCreatingCategory">Rediger Kategori</h1>

<form novalidate [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm)">
  <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Kategorinavn" formControlName="name">
  </mat-form-field><br>
  <div *ngIf='categoryForm.controls.name.touched && categoryForm.controls.name.errors?.required'> 
    Kategorinavn skal udfyldes
  </div>

  <button mat-flat-button type="submit" color="primary">Registrer</button>
</form>