<ul class="topnav">
  <li><a class="active-menu" href="#" routerLink="/"><span style="font-size: 19px; font-weight: 900;">Dshop</span></a></li>
  <li><a href="#" routerLink="products">Produkter</a></li>
  <li><a href="#" routerLink="basket"><i class="material-icons">shopping_cart</i></a></li>
  <li class="right"><a href="#" *ngIf="isAdmin" routerLink="admin">Kontrolpanel</a></li>
  <li class="right"><a href="#" *ngIf="isLoggedIn" routerLink="profile/myprofile">Min Profil</a></li>
  <li class="right"><a href="#" *ngIf="!isLoggedIn" routerLink="signup">Registrer</a></li>
  <li class="right"><a href="#" *ngIf="!isLoggedIn" routerLink="signin">Log ind</a></li>
</ul>
 
<div class="hero-image" *ngIf="showBanner">
  <div class="hero-text">
    <h1 style="font-size:50px"><span style="color: #00da9b;">20%</span> på alt den første uge</h1>
    <p>Velkommen til Dshop Danmarks nye webshop for kvinde tøj</p>
  </div>
</div>