.navigation {
    // background-color: white;
}

.navigation div {
    display: inline-block;
}

.navigation button {
    color: rgb(45, 45, 45);
    padding: 0 5px 0 5px;
    margin: 2px;
    background-color: white;
}

.welcome-message {
    margin-left: 10px;
}