<h1>View Products</h1>

<mat-card *ngFor="let item of items" class="example-card" (click)="navigate(item)">
  <mat-card-header>
    
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{item.in_stock}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw58b5dbb6/images/highres/8435189817149.jpg" alt="Best shoe">
  <mat-card-content>
    <ul> 
      <!-- Make *ngIf hide prices if null-->
      <!-- <li><strong>Price for one item:</strong> {{item.priceForOneItem}}</li> -->
      <!-- <li><strong>Price based on weight:</strong> {{item.priceBasedOnWeight}}{{item.weightMeasurement}}</li> -->
      
      <li><strong>Category:</strong> {{item.category}}</li>
      <!-- <li><strong>Expiration date:</strong> {{item.expirationDate}}</li> -->
    </ul>

  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button (click)="onItemViewClicked(item)">VIEW</button> -->
  </mat-card-actions>

</mat-card>