<div *ngIf="oneProduct"> <!-- If statement is to avoid error. Page loads before response from webservice comes back -->
<table>
<thead>
    <tr>
        <th>Images</th>
        <th>Main image</th>
        <th>Product Info</th>
    </tr>
</thead>
    <tr>
        <td>
          <img width="50" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw9ba4a01d/images/highres/8435189817149-3.jpg">
          <img width="50" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw9b9d7dfa/images/highres/8435189817149-2.jpg">
          <img width="50" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw2f04d014/images/highres/8435189817149-1.jpg"></td>
        <td><img width="150" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw58b5dbb6/images/highres/8435189817149.jpg"></td>
        <td>
          {{oneProduct.name}}<br>
          {{oneProduct.description}}<br>
          {{oneProduct.price | customCurrencyFilter}}<br> <!-- <a mat-stroked-button routerLink=".">Add to cart</a>-->
          <form novalidate [formGroup]="basketForm" (ngSubmit)="onSubmit(basketForm)">
            <!-- *ngIf="oneProduct.category == 'sko'" -->
            <mat-form-field>
              <mat-select placeholder="Vælg størrelse" formControlName="variationId">
                <mat-option *ngFor="let variation of oneProduct.productVariations" [value]="variation.id">{{variation.size}} 
                  <p style="display: inline; color: red" *ngIf="variation.inStock <= 10">(Kun {{variation.inStock}} par tilbage)</p>
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-flat-button type="submit" color="primary">Tilføj til kurv</button>
          </form>
        </td>
        <!-- How should images be handled?-->
    </tr>
</tbody>
</table>
</div>