<p>
  view-one-item works!
</p>


<table>
<thead>
    <tr>
        <th>Images</th>
        <th>Main image</th>
        <th>Product Info</th>
    </tr>
</thead>
    <!-- Bulbasaur -->
    <tr>
        <td>
          <img width="50" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw9ba4a01d/images/highres/8435189817149-3.jpg">
          <img width="50" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw9b9d7dfa/images/highres/8435189817149-2.jpg">
          <img width="50" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw2f04d014/images/highres/8435189817149-1.jpg"></td>
        <td><img width="150" src="https://www.magasin.dk/on/demandware.static/-/Sites-mdn-master-catalog/default/dw58b5dbb6/images/highres/8435189817149.jpg"></td>
        <td>
          {{oneItem.name}}<br>
          {{oneItem.description}}<br>
          {{oneItem.price}}  <a mat-stroked-button routerLink=".">Add to cart</a><br>
          {{oneItem.inStock}}<br>
          <mat-form-field>
            <mat-select placeholder="Pick Size">
              <mat-option value="32">32</mat-option>
              <mat-option value="34">34</mat-option>
              <mat-option value="36">36</mat-option>
              <mat-option value="38">38</mat-option>
            </mat-select>
          </mat-form-field>
        </td>

    </tr>
</tbody>
</table>

