

<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <mat-form-field class="example-full-width">
        <input matInput type="text" id="firstNameId" placeholder="Fornavn" formControlName="firstName">
    </mat-form-field><br>
    <div *ngIf='userForm.controls.firstName.touched && userForm.controls.firstName.errors?.required'> 
        Fornavn skal udfyldes
    </div>

    <mat-form-field class="example-full-width">
        <input matInput type="text" id="lastNameId" placeholder="Efternavn" formControlName="lastName">
    </mat-form-field><br>
    <div *ngIf='userForm.controls.lastName.touched && userForm.controls.lastName.errors?.required'> 
        Efternavn skal udfyldes
    </div>

    <mat-form-field class="example-full-width">
        <input matInput type="text" id="addressId" placeholder="Vej, nummer, etage og by" formControlName="address">
    </mat-form-field><br>
    <div *ngIf='userForm.controls.address.touched && userForm.controls.address.errors?.required'> 
        Der skal angives en addresse
    </div>

    <mat-form-field class="example-full-width">
        <input matInput type="number" id="zipCodeId" placeholder="Postnummer" formControlName="zipCode">
    </mat-form-field><br>
    <div *ngIf='userForm.controls.zipCode.touched && userForm.controls.zipCode.errors?.required'> 
        Der skal angives et postnummeer
    </div>

    <mat-form-field class="example-full-width">
        <input matInput type="email" id="emailId" placeholder="Email" formControlName="email">
    </mat-form-field><br>
    <div *ngIf='userForm.controls.email.touched && userForm.controls.email.errors?.required'> 
        Antal varer skal udfyldes
    </div>

    <mat-form-field class="example-full-width">
        <input matInput type="email" id="confirmedEmailId" placeholder="Skriv email igen" formControlName="confirmedEmail">
    </mat-form-field><br>
    <div *ngIf='userForm.controls.confirmedEmail.touched && userForm.controls.confirmedEmail.errors?.required'> 
        Antal varer skal udfyldes
    </div>

    <label id="genderId">Vælg køn:</label>
    <mat-radio-group aria-labelledby="genderId" formControlName="gender">
    <!-- Replace 1, 0 with true, false -->
      <mat-radio-button style="display: inline; margin-left: 10px" *ngFor="let option of [{'val': 1, 'name': 'Mand'}, {'val': 0, 'name': 'Kvinde'}]" [value]="option.val">
        {{option.name}}
      </mat-radio-button>
    </mat-radio-group><br>

    <button mat-flat-button type="submit" color="primary">Registrer</button>
  </form>
