<h1 style="text-align: center;">Login her med din bruger</h1>


<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
  <mat-form-field class="example-full-width" style="width: 100%; text-align: center;">
    <input matInput type="text" placeholder="Email" formControlName="email">
  </mat-form-field><br>
  <div *ngIf='loginForm.controls.email.touched && loginForm.controls.email.errors?.required'> 
      Email skal udfyldes
  </div>

  <mat-form-field class="example-full-width" style="width: 100%; text-align: center;">
    <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field><br>
  <div *ngIf='loginForm.controls.password.touched && loginForm.controls.password.errors?.required'> 
      Password skal udfyldes
  </div>

  <button mat-flat-button type="submit" style="background-color: #2cda9d; width: 100%;" color="primary">Log ind</button>
</form>